*{
  margin: 0;
  padding:0;
}
body {
  font-family: 'Montserrat';
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat-Bold', sans-serif;
}


h2 {
  font-weight: 900;
  /* font-size: 0.5rem; */
  line-height: 1.5;
}

h3 {
  font-weight: 900;
  /* font-size: 1.5rem; */
}

p {
  color: #8f8f8f;
}

.carousel-item {
    /* height: 90vh; */
    min-height: 330px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  } */


  
  .lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 1;
  }
  
  .services-icon {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .bgc2, .vLine, .hLine {
      background-color: #0F52BA;
  }
  
  .quote-icon {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .services-icon {
      font-size: 60px;
      margin-left: 2rem;
  }

  .display-5 {
    font-size: 7vw;
    color: white;
}

.lead {
    font-size: 2vw;
    color: white;
}

/* Backgroung images */

  .background-image1  {
    background: url(images/honey1.jpg);
    background-position: center;
    background-size: cover;
    height: 225px; width: 100%;
  }

  .background-image2  {
    background: url(images/cofee1.jpg);
    background-position: center;
    background-size: cover;
    height: 225px; width: 100%;
  }

  .background-image3  {
    background: url(images/jaggery1.png);
    background-position: center;
    background-size: cover;
    height: 225px; width: 100%;
  }

  /* Unique selling points */

#usp {
   padding: 3% 15%;
   background-color: #fff;
   position: relative;
   z-index: 1;
}

.usp-card {
text-align: center;
padding: 4%;
}

.icon {
color:  #3eba84;
margin-bottom: 1rem;
}
.icon:hover {
  color: #22886f;
  
}

/* testimonials */

#testimonials {
  text-align: center;
  background-color:  #3eba84;
  /* color: #fff; */
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Team */

#team h1{
  /* color: #777; */
  /* color: #555555; */
  font-size: 36px;
  font-weight: bold;
}

#team h3{
  /* color: #777; */
  /* color: #333333; */
  font-size: 24px;
  font-weight: bold;
}

#team img {
  margin-top: -50px;
}

#team i {
  font-size: 26px;
  color: #555555;
}

#team p {
  font-weight: 500;
  /* color: #555555; */
}

#team .card {
  border-radius: 0;
  box-shadow: 5px 5px 15px  #3eba84;
  transition: all 0.3s ease-in ;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;

}

#team .card:hover {
  background: #3eba84;
  color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 10px ;
}


#team .card:hover h3, #team .card:hover i,  #team .card:hover p  {
  color: #fff;

}

@media (min-width: 250px) {
    .background-image1 { height: 200px; }
    .background-image2 { height: 200px; }
    .background-image3 { height: 200px; }
}
@media (min-width: 480px) {
    .background-image1 { height: 200px; }
    .background-image2 { height: 200px; }
    .background-image3 { height: 200px; }
}
@media (min-width: 480px) {
    .background-image1 { height: 200px; }
    .background-image2 { height: 200px; }
    .background-image3 { height: 200px; }
}
  
@media (min-width: 768px) {
      .background-image1 { height: 550px; }
      .background-image2 { height: 550px; }
      .background-image3 { height: 550px; }
}
  
@media (min-width: 992px) {
      .background-image1  { height: 700px; }
      .background-image2  { height: 700px; }
      .background-image3  { height: 700px; }
}